body {
  padding: 0 !important;
}

.container {
  width: 100% !important;
  padding: 2em 0;
}
.container .row-fluid {
  max-width: 900px;
  margin: 0 auto;
}

header .container {
  padding: 0;
}

h4 small {
  display: block;
}

footer.container {
  margin-top: 30px;
  padding: 30px 0;
}

.left-bumper {
  height: 100%;
  width: 10px;
  position: absolute;
  left: 0;
}

.right-bumper {
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0;
}
