@import "partials/variables";
@import "partials/swatches";

body > header, body > footer {
  @extend %dark;
}

.container {
  &.light-content {

  }
}

.dark-content {
  @extend %dark-content;
}

.light-content {
  @extend %light-content;
}

h4 small
{
  font-size: 60%;
  color: #888;
}

footer.container {
  border-top: 1px dashed #aaa;
}

.left-bumper, .right-bumper {
  background: $darkBG;
}
